.chat-app {
  display: flex;
  flex-direction: row;
  border: 1px solid #d2d2d2;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 600px) {
  .chat-app {
    flex-direction: column;
  }
}
