@impoxrt url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

.navbar {
  background: #fff;
  border-right: 1px solid #efefef;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  width: 250px;
  overflow: scroll;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: inset 0 0 6px #efefef;
  }

  .navbar-button {
    background: #fff;
    border: none;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;

    .navbar-firstLine {
      display: flex;
      justify-content: space-between;
    }

    .room-name {
      text-transform: uppercase;
    }

    .navbar-time {
      color: grey;
      font-size: 10px;
      font-weight: normal;
    }

    .nabar-lastMessage {
      color: grey;
      font-size: 12px;
      font-weight: normal;
      float: left;
      margin-top: 5px;
      white-space: nowrap;
      max-width: 120px;
      overflow: hidden;
    }

    &:hover {
      background: #d8ebff;
      cursor: pointer;
    }
  }

  .navbar-button__new-room {
    bottom: 0;
    position: sticky;
  }

  .navbar-button--active {
    background: #d8ebff;
  }
}

.create-room-wrapper {
  position: relative;

  .create-room-name {
    margin-bottom: 20px;
  }
  .new-room__comment {
    color: red;
    font-size: 14px;
    margin-left: 4px;
    position: absolute;
    top: 5px;
  }
}

.navbar-modal-button {
  background: #181f2e;
  border: none;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 15px;
  margin-left: 15px;
  padding: 5px 15px;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .navbar {
    border: 5px solid #181f2e;
    max-height: 530px;
    position: absolute;
    top: 55px;
    opacity: 1;
    overflow: auto;
    width: 97%;
    z-index: 1;
  }

  .navbar__hidden {
    display: none;
  }
}
